# Oppgave 20 - rewisitting Listeria

In [2]:
import pandas as pd
import numpy as np
listeriaStore = pd.read_csv('ListeriaStore.csv', sep=';', decimal=',')
#listeriaStore['logListeria'] = np.log(ln_listeria['ListeriaNumber'])
listeriaStore.head()

   Unnamed: 0  ListeriaNumber HamTopping GroceryStore
0           1     24109.61661      HamT1       Store1
1           2    119956.08290      HamT1       Store1
2           3    961125.77520      HamT1       Store2
3           4     17053.09954      HamT1       Store2
4           5     80956.94419      HamT1       Store3

## oppg 20c)

In [13]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [31]:
model_block = ols('logListeria ~ C(HamTopping, Sum) + C(GroceryStore)', data=listeriaStore).fit()
ln_anova_table_block = sm.stats.anova_lm(model_block)
ln_anova_table_block

                      df      sum_sq    mean_sq          F    PR(>F)
C(HamTopping, Sum)   5.0  146.947577  29.389515  10.078274  0.000003
C(GroceryStore)      3.0    3.241427   1.080476   0.370517  0.774690
Residual            39.0  113.728914   2.916126        NaN       NaN

## oppg 20d)

In [32]:
model = ols('logListeria ~ C(HamTopping, Sum)', data=listeriaStore).fit()
ln_anova_table = sm.stats.anova_lm(model)
ln_anova_table

                      df      sum_sq    mean_sq          F    PR(>F)
C(HamTopping, Sum)   5.0  146.947577  29.389515  10.552758  0.000001
Residual            42.0  116.970341   2.785008        NaN       NaN

## oppg 20g)

In [37]:
fishing = pd.read_csv('FishingExperimentwPersons.csv', sep=';', decimal=',')

In [36]:
model_fish = ols('Yield ~ C(Hook, Sum)*C(Lake, Sum)', data=fishing).fit()
anova_table_fish = sm.stats.anova_lm(model_fish)
anova_table_fish

,df,sum_sq,mean_sq,F,PR(>F)
"C(Hook, Sum)",1.0,79.053333,79.053333,30.662616,2.109975e-06
"C(Lake, Sum)",3.0,125.594167,41.864722,16.238175,4.681421e-07
"C(Hook, Sum):C(Lake, Sum)",3.0,99.765000,33.255000,12.898701,4.889917e-06
Residual,40.0,103.126667,2.578167,NaN,NaN

## oppg 20h)

In [38]:
model_fish_block = ols('Yield ~ C(Hook, Sum)*C(Lake, Sum) + C(Person, Sum)', data=fishing).fit()
anova_table_fish_block = sm.stats.anova_lm(model_fish_block)
anova_table_fish_block

,df,sum_sq,mean_sq,F,PR(>F)
"C(Hook, Sum)",1.0,79.053333,79.053333,37.672770,3.683993e-07
"C(Lake, Sum)",3.0,125.594167,41.864722,19.950582,6.242178e-08
"C(Person, Sum)",2.0,23.386667,11.693333,5.572444,7.547442e-03
"C(Hook, Sum):C(Lake, Sum)",3.0,99.765000,33.255000,15.847630,7.683153e-07
Residual,38.0,79.740000,2.098421,NaN,NaN

# OPPG 20i) SENERE!!!!!!!!! HAR IKKE TILGANG TIL Å GJØRE OM TIL RANDOM ATM