# Test of trout

In [86]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [89]:
df = pd.read_csv('Trout.csv', sep=';', encoding='unicode_escape')

In [93]:
df.replace('S','.')

   Sulfamerazine  Hemo
0             S0   6,7
1             S0   7,8
2             S0   5,5
3             S0   8,4
4             S0     7
5             S0   7,8
6             S0   8,6
7             S0   7,4
8             S0   5,8
9             S0     7
10            S5   9,9
11            S5   8,4
12            S5  10,4
13            S5   9,3
14            S5  10,7
15            S5  11,9
16            S5   7,1
17            S5   6,4
18            S5   8,6
19            S5  10,6
20           S10  10,4
21           S10   8,1
22           S10  10,6
23           S10   8,7
24           S10  10,7
25           S10   9,1
26           S10   8,8
27           S10   8,1
28           S10   7,8
29           S10     8
30           S15   9,3
31           S15   9,3
32           S15   7,2
33           S15   7,8
34           S15   9,3
35           S15  10,2
36           S15   8,7
37           S15   8,6
38           S15   9,3
39           S15   7,2

In [69]:
df.head()

  Sulfamerazine Hemo
0            S0  6,7
1            S0  7,8
2            S0  5,5
3            S0  8,4
4            S0    7

In [72]:
data = df['Sulfamerazine']
print(data)

0      S0
1      S0
2      S0
3      S0
4      S0
5      S0
6      S0
7      S0
8      S0
9      S0
10     S5
11     S5
12     S5
13     S5
14     S5
15     S5
16     S5
17     S5
18     S5
19     S5
20    S10
21    S10
22    S10
23    S10
24    S10
25    S10
26    S10
27    S10
28    S10
29    S10
30    S15
31    S15
32    S15
33    S15
34    S15
35    S15
36    S15
37    S15
38    S15
39    S15
Name: Sulfamerazine, dtype: object

In [77]:
df['Hemo'][df['Sulfamerazine'] == 'S0']

0    6,7
1    7,8
2    5,5
3    8,4
4      7
5    7,8
6    8,6
7    7,4
8    5,8
9      7
Name: Hemo, dtype: object

In [79]:
stats.f_oneway(df['Hemo'][df['Sulfamerazine'] == 'S0'])

ValueError: could not convert string to float: '6,7'