# First acounter with the "Tukey's test"

In [1]:
import pandas as pd
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [2]:
sires = pd.read_csv('SiresData.csv', sep=';')

In [4]:
sires.head()

   Milk  Sire
0  6330     3
1  6337     2
2  6613     5
3  6250     4
4  6363     1

In [94]:
m_comp = pairwise_tukeyhsd(endog=sires['Milk'], groups=sires['Sire'], alpha=.01)
print(m_comp)

  Multiple Comparison of Means - Tukey HSD, FWER=0.01
=======================================================
group1 group2 meandiff p-adj    lower    upper   reject
-------------------------------------------------------
     1      2  -407.25 0.1284 -995.1446 180.6446  False
     1      3   -363.5 0.2119 -951.3946 224.3946  False
     1      4  -18.125    0.9 -606.0196 569.7696  False
     1      5  -66.625    0.9 -654.5196 521.2696  False
     2      3    43.75    0.9 -544.1446 631.6446  False
     2      4  389.125 0.1594 -198.7696 977.0196  False
     2      5  340.625 0.2686 -247.2696 928.5196  False
     3      4  345.375  0.256 -242.5196 933.2696  False
     3      5  296.875 0.4032 -291.0196 884.7696  False
     4      5    -48.5    0.9 -636.3946 539.3946  False
-------------------------------------------------------

In [95]:
import researchpy as rp
col_sires = sires.groupby(['Sire'])['Milk']
col_summary = rp.summary_cont(col_sires)
print(col_summary)

      N      Mean        SD        SE  95% Conf.   Interval
Sire
1     8  6689.250  468.8977  165.7804  6297.2417  7081.2583
2     8  6282.000  150.5770   53.2370  6156.1145  6407.8855
3     8  6325.750  286.1152  101.1570  6086.5517  6564.9483
4     8  6671.125  436.9683  154.4916  6305.8104  7036.4396
5     8  6622.625  204.8602   72.4290  6451.3576  6793.8924

## REMOVES TWO COWS FROM nr. 3

In [97]:
shortend_sires = sires.drop([0,5])

In [101]:
m_comp = pairwise_tukeyhsd(endog=shortend_sires['Milk'], groups=shortend_sires['Sire'], alpha=.01)
print(m_comp)

   Multiple Comparison of Means - Tukey HSD, FWER=0.01
=========================================================
group1 group2  meandiff p-adj    lower     upper   reject
---------------------------------------------------------
     1      2   -407.25 0.1432 -1010.1298 195.6298  False
     1      3 -405.0833 0.2043  -1056.268 246.1013  False
     1      4   -18.125    0.9  -621.0048 584.7548  False
     1      5   -66.625    0.9  -669.5048 536.2548  False
     2      3    2.1667    0.9   -649.018 653.3513  False
     2      4   389.125 0.1755  -213.7548 992.0048  False
     2      5   340.625 0.2887  -262.2548 943.5048  False
     3      4  386.9583 0.2428  -264.2263 1038.143  False
     3      5  338.4583 0.3699  -312.7263  989.643  False
     4      5     -48.5    0.9  -651.3798 554.3798  False
---------------------------------------------------------

In [100]:
col_sires = shortend_sires.groupby(['Sire'])['Milk']
col_summary = rp.summary_cont(col_sires)
print(col_summary)

      N       Mean        SD        SE  95% Conf.   Interval
Sire
1     8  6689.2500  468.8977  165.7804  6297.2417  7081.2583
2     8  6282.0000  150.5770   53.2370  6156.1145  6407.8855
3     6  6284.1667  317.0151  129.4209  5951.4797  6616.8536
4     8  6671.1250  436.9683  154.4916  6305.8104  7036.4396
5     8  6622.6250  204.8602   72.4290  6451.3576  6793.8924